# Node modules directory
/node_modules

# Environment variables file
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel configuration (if you want to exclude build artifacts)
/.vercel

# Optional OS/IDE files
.DS_Store
Thumbs.db
.vscode/

.vercel
